# Operators in python

- Which perform an operation between 2 or more operands
- a+b
    - a,b are operands
    - + is an operator
# Types of operators
- Relational opearor
    - <,>,<=,>=,==
- Arithemetic operator
    - +,-,*,/,%,**
- logical opearator
    - or,not,and
- Boolean opeartors
    - True/False
- Bitwise opeartors
    - <<,>>,&,^
- Identity opeartors
    - is,is not
- Assignment operators
    - =
- Membership operators
    - in,not in

In [21]:
x=10
x>10

False

In [22]:
x<10

False

In [23]:
x<=10

True

In [24]:
v,v2=10,15
print(v>v2)

False

In [25]:
num=num2=14
print(num>=num2)

True

In [26]:
num

14

In [27]:
num is 14

True

In [28]:
num is not 14

False

In [29]:
num is not num2

False

In [30]:
num is num2

True

In [31]:
num is num3

NameError: name 'num3' is not defined

In [32]:
a,b=2,3
print(a>b)

False

In [33]:
num

14

# range()

- a range of numbers --> 1 to 6
- a  range of chars --> A to H

In [34]:
r=range(1,6)
print(r)

range(1, 6)

In [35]:
# ASCII --> American Standard Code for information interchange
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [42]:
ord('A'),ord('B')

(65, 66)

In [37]:
ord('D')

68

In [38]:
ord('G')

71

In [39]:
chr(71)

'G'

In [40]:
chr(68)

'D'

In [41]:
chr(65)

'A'

# Conditional Statements

- statement may be any sentence but with some conditions
- if,else,elif:
    - if condition:
        - return statement
    - else condition:
        - statement

In [45]:
num=int(input())
print(num>10)

100
True

In [47]:
num=int(input())
if num>4:
    print('larger')
else:
    print('smaller')

3
smaller

In [49]:
# num is even or not
# 4%2=0,6%2=0,7%2=1
num=int(input('enter a number:'))
if num%2==0:
    print('even')
else:
    print('not even')

enter a number:100
even

In [52]:
# even or odd

n=int(input())
if n%2 is 0:
    print('even')
else:
    print('odd')

3
odd

In [56]:
st='name'
if 'm' in st:
    print('exist')
else:
    print('not exist')

exist

In [57]:
# Check whether a character read from the user is in the given string

In [71]:
num=int(input())
if num in range(1,21):
    print('yes')
else:
    print('no')

20
yes

In [77]:
# read 3 numbers from the user and find the largest one
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
    print(a,"is the largest")
elif b>c:
    print(b,"is the largest")
else:
    print(c,"c is largest")

1
2
3
3 c is largest

In [83]:
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
    print(a,"greater than",b,"and",c)
elif b>c:
    print(b,"greater than",c,"and",a)
else:
    print(c,"greater than",a,"and",b)

1
2
3
3 greater than 1 and 2

# loops
loop:
    a loop statement allows us to execute a statement or groupof statements multiple times
- For loop
- While loop

- For loop execures the set of statements multiple times
- syntax
    - for value in range(start,end,stepcount):
        statements

# C syntax :
    for value in range(intialization;condition;inc/dec):
        statements

In [87]:
for i in range(1,10):
    print('workshop')

workshop
workshop
workshop
workshop
workshop
workshop
workshop
workshop
workshop

In [88]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [94]:
# 10 yto 1 numbers
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [113]:
for j in range(1,100):
    print(j,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [120]:
lw=int(input())
up=int(input())
for num in range(lw,up+1):
    if num%2==0:
        print(num,end=' ')

12
64
12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64

In [125]:
for num in range(lw,up):
    print(3*num,end=" ")

36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189

In [132]:
for num in range(10,100,2):
    print(num,end=" ")

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [130]:
st=input()
for ch in st:
    print(ch)

apssdc
a
p
s
s
d
c

In [ ]:
# Print the n th multiplication table